.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 6rem;
}

.aboutUs {
  height: 100vh;
}

.card {
  position: absolute;
  right: 15%;
}

.container {

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 2rem;
  padding-top: 4rem;

}

.tableContainer {
  height: 80vh;
}

.table {
  width: 70%;
  border-bottom: 2px solid rgba(63, 62, 62, 1);
  margin-bottom: 8rem;
}

.table td {
  border-top: 2px solid rgba(63, 62, 62, 1);
  backdrop-filter: blur(8px);
  background-color: #1e1e1e44;
}

.table thead {
  backdrop-filter: blur(8px);
  background-color: rgba(63, 63, 63, 0.54);
}

.imgContainer {
  display: flex;
  align-items: center;
}

.imgContainer img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.containerAbout {

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 2rem;
  padding-top: 4rem;
  background: right fixed url('../../assets/backgroundLandingPage.jpg');
  background-size: cover;
  /* Background del contenedor principal, pendiente por cambiar segun sea el caso */
}


.gradientText {
  background: linear-gradient(270deg, #7745C8 0%, #B588FF 100%);
  padding: .5rem 1rem;
  border-radius: 1rem;
}

.reviews {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.containerReviews {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 2rem;
  padding-top: 4rem;
  background: fixed url('../../assets/reviewsBackground.jpg');
  background-size: cover;
  min-height: 110vh;
}