.notification-bell {
  display: flex;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 50px;
  justify-content: space-around;
  cursor: pointer;
}

.notification-counter {
  position: absolute;
}

.create-alert {
  border-radius: 16px;
  background: linear-gradient(270deg, #7745c8 0%, #b588ff 100%);
  border: 2px solid rgb(1 1 1 / 51%);
  padding: 10px;
  cursor: pointer;
}
