.notification-bell {
  display: flex;
  height: 32px;
  position: absolute;
  top: 4rem;
  right: 4rem;
  justify-content: space-between;
  cursor: pointer;
  gap: 1rem;
}

.notification-icon {
  backdrop-filter: blur(8px);
  background-color: rgba(63, 63, 63, 0.54);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.notification-icon svg {
  fill: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.notification-counter {
  position: absolute;
}

.create-alert {
  width: fit-content;
 

}
