.donation-comp-container {
    padding: 0 4rem;
}

.donation-comp-container>h3 {
    margin-bottom: 20px;
}

.donation-comp-container>p {
    margin-bottom: 28px;
    font-size: 1.2rem;
}

.donation-amount-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.donation-amount-container>label {
    font-size: 1.2rem;
}

.donation-amount-container>input {
    font-size: 1.8rem;
    margin-top: 8px;
    display: inline-block;
    width: 200px;
    background: none;
    color: #EFEFEF;
    outline: none;
    border-radius: 8px;
    border: 0.4px solid;
    padding-left: 8px;
}

#donation-amount::-webkit-outer-spin-button,
#donation-amount::-webkit-inner-spin-button {
    appearance: none;
}

.card-info-container {
    display: flex;
}

.card-info-form {
    margin-top: 2rem;
    padding: 1.5rem 4rem;
    padding-top: 3rem;
    height: fit-content;
}

.card-info-form>label {
    display: block;
    font-size: 0.6rem;
    font-weight: bold;
}

.card-info-form>.donate-card-element {
    margin: 4px 0 16px 0;
    display: block;
    width: 300px;
    height: 28px;
    padding: 6px 0 6px 4px;
    background-color: white;
    border-radius: 8px;
}

.donate-btn {
    margin: 16px 70px;
}

.card-img-container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    position: relative;
}

.card-front-img {
    width: 300px;
    height: 160px;
}

.card-back-img {
    width: 300px;
    height: 160px;
    margin-left: 60px;
    margin-top: 40px;
}

.card-front-container {
    position: relative;
}

.card-back-container {
    position: relative;
}

#cardNumberSpan {
    position: absolute;
    top: 50%;
    left: 20px;
    font-weight: bold;
    font-size: 1.4rem;
}

#credit-card-brand {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

#cardExpDateSpan {
    position: absolute;
    bottom: 12px;
    left: 240px;
    font-weight: bold;
    font-size: 0.8rem;
}

#circleFullDetailSpan {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 20px;
    background-color: white;
    border-radius: 50%;
}

#circleBorderDetailSpan {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 22px;
    left: 54px;
    border: 0.8px solid white;
    border-radius: 50%;
}

#cardCvcSpan {
    position: absolute;
    top: 108px;
    left: 290px;
    font-weight: bold;
    font-size: 1rem;
}

.donation-opt-details-tag {
    margin: 12px;
    /* border: 1px solid #7846C9; */
}

.donation-opt-details-tag[open]>summary::after {
    transform: rotate(90deg);
}

.donations-opt-summary-tag {
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    padding: .3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.donations-opt-summary-tag::marker {
    content: '';
}

.donations-opt-summary-tag::after {
    content: url('../../assets/arrow.svg');
    transition: transform .2s ease-out;
}


/* bitpay code */
.bitpay-donate {
    margin: 20px 0;
}

.bitpay-donate fieldset {
    border: 0;
}

.bitpay-donate .field-input {
    color: #666;
    background: #fff;
    border: 1px solid #eee;
    height: 30px;
    box-sizing: border-box;
    flex-grow: 1;
}

.bitpay-donate .field-input-wrapper {
    display: inline-flex;
    float: none;
    width: 80%;
    width: 200px;
}

.bitpay-donate input {
    padding: 4px 10px;
    display: inline-block;
    width: 100px;
}

.bitpay-donate select {
    padding: 3px 10px;
    display: inline-block;
    width: 50px;
}

.bitpay-donate .bitpay-donate-button {
    padding: 12px 0;
    width: 160px;
    box-sizing: border-box;
}

.bitpay-donate ul,
.bitpay-donate li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.bitpay-donate li {
    padding: 10px 0;
}

.bitpay-donate-field {
    clear: both;
}

.bitpay-donate-field label {
    float: left;
    width: 100px;
}

.bitpay-donate-field div {
    float: left;
}

.bitpay-donate-field-email {
    width: 80%;
}

.bitpay-donate-field-price {
    width: 40%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.bitpay-donate-field-currency {
    width: 40%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.bitpay-donate-button-wrapper {
    clear: both;
    margin: auto;
    text-align: left;
    margin: 20px 0 0 60px;
}

input.bitpay-donate-error {
    border: 2px solid red;
}