.container {
  display: flex;
  max-width: 100vw;
}

.outlet {
  min-width: 80vw;
}

.outlet * {
  animation: in .3s ease-in;

}

@keyframes in {
  from {
    opacity: 0;
    transform: translateX(10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}