@font-face {
  font-family: "Oswald";
  src: url(./fuentes/oswald.bold.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(./fuentes/Inter-Bold.otf);
}
.background {
  display: grid;
  grid-template-columns: 20% 65% 15%;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 1.5rem;
  width: 90%;
  left: 5%;
}
/*
.navButtons *:hover :after {
  animación
}
*/
.navButtons {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;

}

.navButtons * {
  color: white;
  text-decoration: none;
  position: relative;
}

.title * {
  font-family: "Oswald";
  font-size: 5.57vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.title:hover {
  text-decoration: none;
  font-size: 5.6vh;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

