@font-face {
  font-family: "Oswald";
  src: url(./fuentes/oswald.bold.ttf);
}

.sidebar {
  background: rgba(36, 36, 36, 0.2);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-rows: 15% 65% 20%;
  position: fixed;
  left: 0;
  top: 0;
  height: 99.7%;
  width: 20%;
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Oswald";
  font-size: 230%;
  margin-left: 4%;
}

.logo {
  width: 38.1px;
  height: 54.3px;
  margin: 5%;
}
