.home {
  overflow: hidden;
  padding: 0 4rem;
  width: 70%;
}

.title {
  margin-top: 4rem;
}

.view {
  display: flex;
  justify-content: space-between;
}
.seeLess{
  display: flex;
  justify-content: end;
  padding-top: 10px;
}