.containerr {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 100%;
    padding-left: 6rem;
}

.datos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 480px;
    color: rgb(255, 255, 255);
}

.datoss {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 480px;
    color: rgb(255, 255, 255);
    
}

.texto {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    width: 366px;
    height: 450px;
  
}

.campos {
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    font-size: 20px;
    line-height: 30px;
   
}
.pass{
    cursor: pointer;
}
.verificacion{
    text-decoration: underline;
    cursor: pointer;

}
.rojo{
    color: rgb(255, 1, 56);
}
.verde{
    color: rgb(38, 255, 9);
}

.titulo {
    font-size: 20px;
   
}

.propiedadd {
    display: flex;
    align-items: center;
    min-width: 250px;
    height: 50px;
    font-size: 15px;
    background: rgba(219, 219, 219, 0.11);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(219, 219, 219, 0.12);
    padding-left: 0.5rem;
    
}



.formulario {
    margin-top: 20px;
    width: 700px;
    height: 480px;

}
.but {
    padding-top: 10px;
    width: 700px;
    height: 100px;
}

.propiedad input {
    
    min-width: 250px;
    height: 50px;
    font-size: 15px;
    color: white;
    background: rgba(219, 219, 219, 0.11);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(219, 219, 219, 0.12);
}

.foto {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    width: 400px;
    height: 480px;
}
.fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    line-height: 30px;
    width: 400px;
    height: 480px;
}

/* .foto .div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    width: 400px;
    height: 80px;
    font-size: 30px;
    text-decoration: underline;
} */

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 358px;
    height: 358px;
    background: rgba(219, 219, 219, 0.11);
    border-radius: 194px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(219, 219, 219, 0.12);
}

.imgg {
    width: 269px;
    height: 269px;
    border-radius: 194px;
}

.cargar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 358px;
    
}
