.view {
  display: flex;
  height: 100%;
}

.head1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald';
  cursor: pointer;
}

.head1-active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald';
  background: rgba(33, 33, 33, 0.921);
  border-radius: 15px 0 4px 2px;
  cursor: pointer;
}

.head2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald';
  cursor: pointer;
}
.head2-active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald';
  background: rgba(33, 33, 33, 0.921);
  border-radius: 0 15px 2px 4px;
  cursor: pointer;
}

.logo {
  width: 38.1px;
  height: 54.3px;
}

.head1 h1,
.head2 h1,
.head1-active h1,
.head2-active h1 {
  display: flex;
  color: white;
  margin: 5px 0;
  font-size: 25px;
  justify-content: center;
  text-decoration: none;
}

.swap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swap-container {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(270deg, #7745c8 0%, #b588ff 100%);
  border: 2px solid rgb(1 1 1 / 51%);
  border-bottom: none;
}

.history-container {
  width: 60%;
  height: 200px;
  display: flex;
  background: rgba(219, 219, 219, 0.11);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(219, 219, 219, 0.12);
  border-top: none;
}

.container-headers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
