.card {
    padding: 1rem 2rem;
    height: 320px;
    max-width: 250px;
    position: relative;

}

.CardText {
    margin-top: 2rem;
    width: 100%;

}

.priceTitle {
    font-size: 18px;
    margin-bottom: 0;
}

.price {
    padding-left: 8px;
    font-size: 14px;
    font-weight: 200;
    margin-top: 8px;
}


.titulo {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 22px;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.img img {
    width: 50%;
}

.newsImg {
    width: 40%;
    height: auto;
}

.buttonContainer {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
    right: 1rem;
    bottom: 1rem;
}

.button {
    cursor: pointer;
    border-radius: 100% !important;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}