.mainContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dataContainer {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainContainer Sidebar {
  background-color: beige;
}
.valueContainer {
  display: flex;
  flex-direction: column;
  background: #4e4ecb;
  background: -webkit-linear-gradient(297deg, #4e4ecb 0%, #bc48ff 100%);
  background: linear-gradient(297deg, #4e4ecb 0%, #bc48ff 100%);
  border: 1px solid rgba(255, 255, 255, 0.307);
 /*  background-color: #7645c7; */
  padding: 15px;
  border-radius: 15px;
  align-items: flex-start;
  width: 25%;
  min-width: 200px;
  margin-right: 30px;
}
.valueContainer h2 {
  margin: 5px;
}
.valueContainer h5 {
  padding: 0px;
  margin: 0px;
}
.redH5 {
  align-self: center;
  color: #ff3838;
}
.greenH5 {
  align-self: center;
  color: #00ce6a;
}
.portfolioContainer {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.portfolioContainer h5 {
  margin: 10px;
}
.chartContainer {
  padding: 20px;
  width: 70%;
  background-color: #3f3e3e7d;
  border: 1px solid rgba(255, 255, 255, 0.269);
  border-radius: 10px;
  min-width: 500px;
}
.assetsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: 15px;
  width: 95%;
  border: 1px solid #c6b1e03c;
  background-color: #3b1d5f6f;
  backdrop-filter: blur(8px);
  padding: 20px;
}
.assetsNavbarContainer{
  display: flex; 
  justify-content: space-between;
}
.assetsNavbarContainer div button{
  backdrop-filter: blur(8px);
  color: white;
  background-color: rgba(255, 255, 255, 0.104);
  border:1px solid rgba(255, 255, 255, 0.294);
  border-radius: 15px;
  margin-left: 5px;
  padding: 10px 30px;
  font-size: larger;
}
.assetsNavbarContainer div button:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.38);
}
.assetsNavbarContainer input{
  color: white;
  width: 250px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.104);
  border:1px solid rgba(255, 255, 255, 0.294);
  background-image:url('../../assets/buscar.png');
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 30px;
}
.assetsTableContainer{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 15px;
  width: 100%;
  border: 1px solid #c6b1e03c;
  background-color: #e8e2ef1d;
  backdrop-filter: blur(8px);
  padding: 20px;
}

@media (max-width: 1124px) {
  .valueContainer {
    max-width: 500px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .assetsNavbarContainer input{
    width: 200px;
  }
  .assetsNavbarContainer div button{
    padding: 10px 5px;
  }
}
