.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.dataContainer {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainContainer Sidebar {
  background-color: beige;
}
.valueContainer {
  display: flex;
  flex-direction: column;
  background: #4e4ecb;
  background: -webkit-linear-gradient(297deg, #4e4ecb 0%, #bc48ff 100%);
  background: linear-gradient(297deg, #4e4ecb 0%, #bc48ff 100%);
  border: 1px solid rgba(255, 255, 255, 0.307);
 /*  background-color: #7645c7; */
  padding: 15px;
  border-radius: 15px;
  align-items: flex-start;
  width: 30%;
  min-width: 200px;
  margin-right: 30px;
}
.valueContainer:hover{
  cursor: pointer;
}
.valueContainer h2 {
  overflow: hidden;
  width: 80%;
  margin: 5px;
/*   text-overflow: ellipsis; */
}
.valueContainer h5 {
  font-size: xx-large;
  padding: 0px;
  margin: 0px;
}
.valueContainer h6 {
  font-size:large;
  padding: 0px;
  margin: 0px;
}
.redH5 {
  align-self: center;
  color: #ff3838;
}
.greenH5 {
  align-self: center;
  color: #00ce6a;
}
.portfolioContainer {
  width: 100%;
  padding: 30px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}
.portfolioContainer h5 {
  margin: 10px;
}
.chartContainer {
  position: relative;
  padding: 20px;
  width: 65%;
  background-color: #3f3e3e7d;
  border: 1px solid rgba(255, 255, 255, 0.269);
  border-radius: 10px;
  min-width: 500px;
  min-height: 400px;
}
.assetsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: 15px;
  width: 95%;
  border: 1px solid #c6b1e03c;
  background-color: #3b1d5f6f;
  backdrop-filter: blur(8px);
  padding: 20px;
}
.assetsNavbarContainer{
  display: flex; 
  justify-content: space-between;
}
.UnselectedButton{
  backdrop-filter: blur(8px);
  color: white;
  background-color: rgba(255, 255, 255, 0.104);
  border:1px solid rgba(255, 255, 255, 0.294);
  border-radius: 15px;
  margin-left: 5px;
  padding: 10px 30px;
  font-size: larger;
}
.UnselectedButton:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.38);
}
.SelectedButton{
  backdrop-filter: blur(8px);
  color: white;
  background: #4e4ecb;
  background: -webkit-linear-gradient(297deg, #4e4ecb 0%, #bc48ff 100%);
  background: linear-gradient(297deg, #4e4ecb 0%, #bc48ff 100%);
  border:1px solid rgba(255, 255, 255, 0.294);
  border-radius: 15px;
  margin-left: 5px;
  padding: 10px 30px;
  font-size: larger;
}
.SelectedButton:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.38);
}
.assetsNavbarContainer input{
  color: white;
  width: 250px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.104);
  border:1px solid rgba(255, 255, 255, 0.294);
  background-image:url('../../assets/buscar.png');
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 30px;
}


@media (max-width: 1124px) {
  .valueContainer {
    max-width: 500px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .assetsNavbarContainer input{
    width: 200px;
  }
  .assetsNavbarContainer div button{
    padding: 10px 5px;
  }
}

.lds_ring {
  position:absolute;
  display: inline-block;
  width: 80px;
  left: 45%;
  top: 30%;
}
.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid #00ce6a;
  border-radius: 50%;
  animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #DBDBDB transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main_value_container{
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
/* .main_value_container:hover{
  flex-direction: row-reverse;
  background-color: #834be4;
  width: max-content;
} */
.main_value_container button{
  /* position:absolute; */
  right: 1px;
  margin-left: 10px;
  background-image: url(../../assets/copia.png);
  background-color: transparent;
  width: 45px;
  height: 45px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  filter: invert();
  border-radius: 10px;
  margin-right: 0px;
}
.main_value_container button:hover{
  cursor: pointer;
  filter: none;
}