.selectYcantidad{
    justify-content: center;
    display: flex;
}
.containerTableCalc {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 2;
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}
.containerTableCalc::-webkit-scrollbar {
    display: none;
  }




.tableCalc{
    max-width: 50%;
    min-width: 50%;
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(219, 219, 219, 0.12);
}


td,
th {
    padding: 1rem 2rem;
}

th {
    text-align: start;
}
h1{
    display: flex;
    justify-content: center;
    font-size:medium;
}

