
.selectYcantidad {

    justify-content: center;
    display: flex;
    gap: 1rem;
}

.selectYcantidad * {
    padding: .5rem 2rem;
    border-radius: 2rem;
    border: none;
}

.containerTableCalc {
    margin: 1rem ;
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 5rem;
    border-radius: 1rem;
   
}

.containerTableCalc::-webkit-scrollbar {
    display: none;
}


.divTotal {

    justify-content: center;
    margin-left: 1%;
    margin-top: 130px;
}


.containerTable {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 1rem;
}
.h1Calc{
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.tableCalc{
    
    min-width: 25%;
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 1rem;
    margin:0%;
    

}


.tableCalc td,
.tableCalc th {
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.tableCalc tr{
    border-radius: 1rem;
}


.h1Calc {
    text-align: center;
}

