.selectYcantidad{
   
    justify-content: center;
    display: flex;
    
}
.containerTableCalc {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 2;
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 5rem;
    
    scrollbar-width: none;
    
    display: flex;
    
}
.containerTableCalc::-webkit-scrollbar {
    display: none;
}

.divTotal{
    margin-top: 8rem;
    justify-content: center;
    margin-left: 1%;
}

.h1Calc{
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.tableCalc{
    max-width: 25%;
    min-width: 25%;
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 17px;

}


td,
th {
    padding: 1rem 2rem;
}

th {
    text-align: start;
}
.h1Calc{
    display: flex;
    justify-content: center;
    font-size:medium;
}
