
.contenedor1{
  padding-top: 0px;
    width: 100%;   
}
.News{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 15px;
}
/* .swiperr1{
    margin-left: 300px;
} */
/* .swiper{
  width: 53rem;
} */
.div-img{
  display: flex;
  width: 427px;
  height: 250px;
}
.imge{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 100%;
  width: 50%;

}
.swiper{
  width: 63rem;
} 
/* .swiper-slide{
  display: flex;
  justify-content: center;
  width: 200px !important;
} */
.ey1{
/*   display: flex;
  justify-content: center;
  align-items: center; */
  width: 427px;
  height: 250px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px ;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.text1{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.masNews{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content:center;
  align-items: flex-end;
 
  }
 .botomNews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .ey1 .text1 .masNews .botomNews:hover{
    cursor: pointer;
  }

.text1 p{
  font-size: 15px;
}
img:hover{
  cursor: pointer;
}

.swiper-button-next::after, .swiper-button-prev::after{
  font-size: 50px !important;
  color: purple;
}
