.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3F3E3E;
    justify-content: center;
}
.mainContainer img{
    width: 50px;
    margin: 10px;
    border-radius: 100%;
}
.mainContainer button{
    font-size: large;
    margin: 5px 5px;
    background-color: transparent;
    border: none;
    color: white;
}
.mainContainer button:hover{
    cursor: pointer;
    color:rgb(159, 179, 215);
}
.mainContainer h6{
    font-size: small;
    margin: 20px;
}