.inputSearch {
    padding: 8px 2rem;
    border-radius: 1rem 0rem 0rem 1rem;
    border: none;
}

.inputPrecios {
    padding: 8px 2rem;
    border-radius: 1rem;
    border: none;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
}

.containerSearch {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.maincontainer:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    background: inherit;
}

table {
    width: 100%;
}

td,
th {
    padding: 1rem 2rem;
}

th {
    text-align: start;
}

.name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name span {
    font-weight: 600;
}

.trespe {
    cursor: pointer;
    transition: .2s ease-out;
}

.trespe:hover {
    background-color: #5e548e75;
}


.buttonSearch {

    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;


}

.tableContainer {
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 5rem;
}

.tableContainer::-webkit-scrollbar {
    width: 6px;
}

.tableContainer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 6px;
}

.tHeaders {
    position: sticky;
    top: 0;
}

.tHeaders th {
    background: rgba(71, 71, 71, 0.556);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.selectDivisas {
    padding: 0 1rem;
    margin-left: 1rem;
    height: 100%;
    border-radius: 2rem;
    border: none;

}