.inputSearch {
    padding: 8px 2rem;
    border-radius: 1rem 0rem 0rem 1rem;
    border: none;
    height: 2rem;
    flex-wrap: wrap;
}

.inputPrecios {
    padding: 5px ;
    border-radius: 1rem;
    border: none;
    width: 100px;
    border: solid 1px #8b8c89;
    
        
}

.container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
    
}

.containerSearch {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.maincontainer:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    background: inherit;
}

table {
    width: 100%;
}

td,
th {
    padding: 1rem 2rem;
}

th {
    text-align: start;
}

.name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name span {
    font-weight: 600;
}


.buttonSearch {

    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;



}

.tableContainer {
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 5rem;
}

.tableContainer::-webkit-scrollbar {
    width: 6px;
}

.tableContainer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 6px;
}

.tHeaders {
    position: sticky;
    top: 0;
}

.tHeaders th {
    background: rgba(71, 71, 71, 0.556);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.selectDivisas {
    padding: 0 1rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;

}

.details>summary {
    font-weight: 600;
    font-size: 14px;
    padding: 0 1rem;
    height: 2rem;
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    border-radius: 2rem;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details>summary::after {
    content: url('../../assets/chevron.svg');
    margin-top: .2rem;
    transition: transform .2s ease-out;
  
}

.details[open]>summary::after {
    transform: rotate(90deg);
    
}

.containerFilters{
    
    border-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-top:2px;
    padding-bottom: 2px;
    background:rgba(71, 71, 71, 0.556);
    margin-top: 0.5rem;
    
    
}

