.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    align-self: center;
    font-weight: 600;
    margin: 0px;
}

.listContainer {
    display: flex;
    padding: 0px 10px;
    text-align: center;
    margin: 0px auto;
}

/* .listMessages{
    background-color: blueviolet;
} */

.divItem {
    border-radius: 10px;
    margin: 20px 20px 30px 0px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 15px 2px #000000;
    box-shadow: 0px 0px 15px 2px #000000;
    background: hsla(263, 54%, 53%, 1);

    background: linear-gradient(90deg, hsla(263, 54%, 53%, 1) 0%, hsla(236, 67%, 55%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(263, 54%, 53%, 1) 0%, hsla(236, 67%, 55%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(263, 54%, 53%, 1) 0%, hsla(236, 67%, 55%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7745C8", endColorstr="#3D47D9", GradientType=1);
}

/* .listHead{
    border-radius: 10px;
    background-color: rgb(141, 141, 141);
} */

.itemMsg {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);

}

.listItem {
    list-style-type: none;
    margin: 10px;

}