.Container {
    width: 100%;
    padding-left: 2rem;
}

.title {
    align-self: center;
    font-weight: 600;
    margin: 0px;
}

.listMessages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-top: 2rem;
}

/* .listMessages{
    background-color: blueviolet;
} */


/* .listHead{
    border-radius: 10px;
    background-color: rgb(141, 141, 141);
} */

.itemMsg {
    border-radius: 10px;
    background-color: rgba(92, 90, 90, 0.651);

}