@font-face {
  font-family: "Oswald";
  src: url(./fuentes/oswald.bold.ttf);
}

.sidebar {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  display: grid;
  grid-template-rows: 12% 50% 15% 20%;
  position: fixed;
  left: 0;
  top: 0;
  height: 99.7%;
  width: 20%;
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  font-size: 4.9vh;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.logo {
  width: 38.1px;
  height: 54.3px;
  margin: 3%;
  margin-right: 0;
}

.title {
  display: flex;
  color: white;
  justify-content: center;
  text-decoration: none;
}

.options {
  display: grid;
}

.data:hover {
  text-decoration: none;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4)
  );
  box-shadow: 0 4px 30px rgba(100, 100, 100, 0.3);
}

.data {
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: .3s ease-out;
}

.data span {
  font-weight: 600;
}

.icon {
  width: 10%;
  margin-right: 1rem;
  margin-left: 2.5rem;
  width: 24px;
  height: 24px;
}

.footer {
  grid-row: 4;
  display: grid;
  color: white;
  }
