.home {
   overflow: hidden; 
  padding: 0 4rem;
  width: 100%;
  z-index: 0;

}

.title {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.headerButton {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.headerButton button {
  margin-bottom: 1rem;
}