.home {
   overflow: hidden; 
  padding: 0 4rem;
  width: 100%;
  z-index: 0;

}

.title {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.seeLess {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}