.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(73, 64, 64, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-container {
  width: 500px;
  height: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(33, 33, 33, 0.921);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(219, 219, 219, 0);
}

.modal-container h4 {
  margin-top: 10px;
  text-align: center;
}
.modal-container input {
  align-self: center;
  width: 80%;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 2rem;
  margin: 10px 0;
  font-weight: 400;
  font-size: 20px;
}

.coins-container {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, #7745c8 0%, #b588ff 100%);
  border: 1px solid rgba(1, 1, 1, 0.286);
  overflow: auto;
  position: absolute;
  border-radius: 0 0 10px 10px;
  z-index: 150;
  top: 180px;
  max-height: 180px;
  gap: 10px;
  left: 0;
  right: 0;
}

.coins-container::-webkit-scrollbar {
  width: 6px;
}

.coins-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.589);
  border-radius: 6px;
}

.coin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.coin img {
  justify-self: center;
}

.coin:hover {
  background-color: rgba(73, 64, 64, 0.5);
}

.header {
  display: flex;
  padding: 20px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(1, 1, 1, 0.286);
}

.header h4 {
  margin: 0;
  font-size: 25px;
}

.alerts-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 20px;
}

.alert-container::-webkit-scrollbar {
  width: 6px;
}

.alert-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.589);
  border-radius: 6px;
}

.alert {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 0;
}

.alert:hover {
  background-color: rgba(73, 64, 64, 0.5);
}

.create-alert {
  border-radius: 16px;
  background: linear-gradient(270deg, #7745c8 0%, #b588ff 100%);
  border: 2px solid rgb(1 1 1 / 51%);
  padding: 10px 30px;
  align-self: center;
  cursor: pointer;
}

.selectedCoin {
  align-self: center;
  width: 80%;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 2rem;
  margin: 10px 0;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(270deg, #7745c8 0%, #b588ff 100%);
}

.unselect {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.589);
  width: 20px;
  border-radius: 5px;
  padding: 2px;
}

.unselect:hover {
  background-color: rgba(73, 64, 64, 0.5);
  cursor: pointer;
}

.close {
  padding: 2px;
  width: 20px;
  cursor: pointer;
}
