
.boxPrincipal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom:100px ;
    min-height: 100vh;
    background-color:rgba(27, 26, 26, 0.75) ;
    max-height: 100%;
    display: none;
    justify-content: flex-end;
    padding-right: 30px;
    align-items:flex-end;
    flex-direction: column;
    z-index: 10;
}
.boxPrincipal.open{
    display: flex;
    
} 
.caja{    
    top: 0;
    left: 0;
  position: absolute;
    z-index: 10;
   
}
.chat{
    position: fixed;
    top: 0;
    left: 0;
    margin-top:5px ;
    margin-bottom:20px ;
    width: 55px;
    height: 55px;
    margin-left: 94%;
    margin-top: 580px;
    border-radius: 10px;
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(219, 219, 219, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}
.chat img{
    width: 50px;
    height: 50px;
    

}
.form{
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(219, 219, 219, 0.12);
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
 
     
}
.contenedor{
    width: 300px;
    word-wrap: break-word ;
    height: 300px;
    overflow-y: scroll;
    font-size: 12px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    z-index: 10;
}


.contenedor::-webkit-scrollbar{
    width: 5px;
}
.contenedor::-webkit-scrollbar-thumb{
    background: #50575c; /* color de la barra */
    border-radius: 4px;
}
.form ul{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px; 

}
.form ul .message{
    background-color: azure;
    border-radius: 10px;
    color: black;
    min-height:40px ;
    width: 200px;
    margin-top: 5px;
    line-height: 0px;
    padding-left: 4px;
}
.message p{
    line-height: 10px;
}

.form ul .message.me{
    background:linear-gradient(270deg, #7745C8 0%, #B588FF 100%);
    margin-left: 80px;

    color: wheat
}
.form ul li p{
    background-color: aqua;
    min-width: 200px;
}
.enviar input{
   width: 80%;
   height: 50px;
   outline: none;
   background: rgba(219, 219, 219, 0.11);
   border: 1px solid rgba(219, 219, 219, 0.12);;
   border-radius: 2px;
   border-bottom-left-radius: 30px;
   color: white;
}
input::placeholder { color: rgb(91, 91, 92); }
.enviar button{
    width: 20%;
    height: 50px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: azure;
    border-bottom-right-radius: 30px;

}
.from{
   font-size: 14px;
   
}