.boxPrincipal {
    position: fixed;
    display: none;
    z-index: 10;
    right: 6.2rem;
    bottom: 6rem;
}

.boxPrincipal.open {
    display: flex;
    animation: show .2s ease-in;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateX(2rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.chat {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    cursor: pointer;
    z-index: 10;
}

.chat img {
    width: 50px;
    height: 50px;
}

.form {
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(219, 219, 219, 0.12);
    backdrop-filter: blur(5.5px);
    height: 350px;
    width: 300px;
}

.foro {
    display: flex;
    flex-wrap: wrap-reverse;
    position: absolute;
    border-radius: 30px;
    width: 500px;
    height: 30px;
    background-color: #B588FF;

}

.foro p {
    padding-top: 20px;
    height: 30px;
    font-size: 50px;
    margin-left: 15px;

}


.contenedor {
    width: 300px;
    word-wrap: break-word;
    height: 300px;
    overflow-y: scroll;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}


.contenedor::-webkit-scrollbar {
    width: 5px;
}

.contenedor::-webkit-scrollbar-thumb {
    background: #50575c;
    /* color de la barra */
    border-radius: 4px;
}

.form ul {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;

}

.form ul .message {
    background-color: azure;
    border-radius: 10px;
    color: black;
    min-height: 40px;
    width: 200px;
    margin-top: 5px;
    line-height: 0px;
    padding-left: 4px;
}

.message p {
    line-height: 10px;
}

.form ul .message.me {
    background: linear-gradient(270deg, #7745C8 0%, #B588FF 100%);
    margin-left: 80px;

    color: wheat
}

.form ul li p {
    background-color: aqua;
    min-width: 200px;
}

.enviar input {
    width: 80%;
    height: 50px;
    outline: none;
    background: rgba(219, 219, 219, 0.11);
    border: 1px solid rgba(219, 219, 219, 0.12);
    padding-left: 1rem;
    border-bottom-left-radius: 30px;
    backdrop-filter: blur(5.5px);
}

input::placeholder {
    color: rgb(140, 140, 140);
}

.enviar button {
    width: 20%;
    height: 50px;
    border: 1px solid rgba(219, 219, 219, 0.12);
    background: linear-gradient(270deg, #7745C8 0%, #B588FF 100%);
    border-bottom-right-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

.from {
    font-size: 14px;

}