.mainContainer{
    justify-content: center;
    max-width: 1250px;
    align-content: space-around;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.developerContainer{
    width: 250px;
    height: 350px;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    backdrop-filter: blur(8px);
    background-color: rgba(63, 63, 63, 0.54);
    padding-top: 20px;
    transition: transform .2s;
}
.developerContainer:hover{
    transform: scale(1.1);
}
.textContainer{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}
.textContainer h3{
    margin: 5px;
}
.textContainer h6{
    color: rgba(255, 255, 255, 0.883);
    justify-self: flex-start;
    margin: 1px;
}
.developerImage{
    border-radius: 100px;
    width: 120px;
    height: 120px;
}
.socialNet{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.socialNet img{
    width: 50px;
}