.layout {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: red;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  border-radius: 15px;
}

.login-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 0 15px 15px 0;
  min-width: 350px;
  align-items: center;
}

.login-container-input {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 20px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.options-remember {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.button-container button {
  margin-top: 20px;
}

.button-container p {
  text-align: center;
}
