
.background {
  display: grid;
  grid-template-columns: 20% 65% 2%;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 1.5rem;
  width: 90%;
  left: 5%;
}

.navButtons a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px;
  background: linear-gradient(270deg, #7745C8 0%, #B588FF 100%);;
  left: 0;
  bottom: -6px;
  border-radius: 2px;
  transition: .3s ease;
}

.navButtons a:hover:after{
  width: 100%;
}

.navButtons {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;

}

.navButtons * {
  font-weight: 600;
  color: white;
  text-decoration: none;
  position: relative;
}

.title * {
  font-family: "Oswald";
  font-size: 5.57vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.title:hover {
  text-decoration: none;
  font-size: 5.6vh;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

