.sidebar {

  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  display: grid;
  grid-template-rows: 12% 55% 20% 10%;
  position: sticky;
  top: 95px;
  height: fit-content;
  width: 20vw;
  background: rgba(219, 219, 219, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 17px;
  color: white;

}

.sidebarWrapper {
  padding: 5px 10px;
  margin: 0px 10px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
  position: relative;
}

.sidebarTitle {
  font-size: 14px;
  color: white;
}

aside {
  width: 30%;
  height: 100vh;
  background-color: #333;
  /* Esto lo mantendra en su sitio */
  position: fixed;
  top: 0;
  left: 0;
}

.sidebarList {
  list-style: none;
  padding: 5px;
  margin: 0;
}

.link,
.link.active,
.link:hover {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  text-align: left;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: left;
  border-radius: 10px;
  color: white;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  text-decoration: none;
  background: linear-gradient(45deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.4));
  box-shadow: 0 4px 30px rgba(100, 100, 100, 0.3);
}

.sidebarIcon {
  align-items: center;
  margin-right: 10px;
  color: white;
}