.topbar {
    margin-top: 1rem;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 1rem;
    background: rgba(219, 219, 219, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 17px;
    color: white;
    z-index: 1;
    /* border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
}

.title * {
    font-family: "Oswald";
    font-size: 5.57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.topbarWrapper {
    width: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 7rem;
    height: 4rem;
    margin-left: 1rem;
}

.imgEth {
    width: 50px;
    height: 50px;
}

.topRight {
    display: flex;
    align-items: center;
}

.topbarIconsContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;
}