.topbar{
    margin-top: 1px;
    width: 100%;
    height: 70px;
    position: sticky;
    background-color: rgba(58, 58, 58, 0.459);
    background: -moz-linear-gradient(left, #616161 0%, #747474 50%, #8a8a8a 100%);
    background: -webkit-linear-gradient(left, #616161 0%, #747474 50%, #8a8a8a 100%);
    background: linear-gradient(to right,left, #616161 0%, #747474 50%, #8a8a8a 100%);
    top: 0;
    z-index: 1000;
}

.topbarWrapper{
    width: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.logo{
    cursor: pointer;
    width: 7rem;
    height: 4rem;
    margin-left: 1rem;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconsContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;
}